---
title: Every App is a Communications App
tags:
date: 2014-12-15 08:24
---

Messaging as a primary way of interaction is strange trend for us in North America, because it didn't become a thing here until very recently. What's great about messaging is that everyone just gets it. Because of that, it's a pattern that can make a lot of sense for many types of apps.

Ron Palmeri, CEO of Layer [recently shared a few ideas](http://blog.layer.com/every-app-is-a-communications-app/) on how some apps would be way better with the integration of messaging:

<blockquote>
  <p>This app is essentially a marketplace for babysitters and parents in need of a babysitter. The app pre-qualifies babysitters through background checks and then presents parents with a list of available babysitters, based on the date, time and experience criteria the parent sets.</p>

  <p>Transformation opportunities:</p>

  <ul>
    <li>Messaging to connect parents to each other to collaborate and discuss the selection and ultimate hiring of a babysitter.</li>
    <li>During-job photo or video messaging from babysitter/kids to parents to keep parents updated on the kids’ well being.</li>
    <li>Sharing of checklists and other content types so parents and babysitter can stay in sync during the job.</li>
  </ul>
</blockquote>
