---
title: Why I Use Sketch
date: 2015-04-07 21:18 EDT
tags: Sketch, Design
---

<%= figure '/assets/images/articles/why-i-use-sketch/precision-objects@2x.jpg', "Image &copy; <a href='http://bohemiancoding.com/sketch/features/'>Bohemian Coding</a>" %>

We've had an interesting debate at work today about the pros and cons of Sketch vs Photoshop. I'm personally sitting firmly in the Sketch camp. I fact, when I did a clean install for Yosemite, I challenged myself to not install any Adobe apps and see how long I could go. Fast forward to today and I still don't have any apps from Adobe installed on my computer[^1]. Crazy right?

Sketch isn't by all means perfect, it still has ways to go. It often has bugs and some operations are slower than they should be, but I'm willing to put up with these downsides to use the app. I'm willing to trade reliability and years of muscle memory for a more lightweight, modern piece of software that matches my needs much more closely, built by a small company that listens to its users and issues frequent updates. Working with Sketch has made my workflow much better and saves me hours every day.

We all have different needs and preferences, so you should use the software that works best for you. For me that's Sketch.

[^1]: Just a couple of years, this statement would've been crazy. Today, it's entirely possible. Admittedly there are some minor inconveniences from time to time, but it's totally worth it.
