---
title: Custom Domains with Heroku
date: 2015-07-11 13:44 EDT
tags:
  - heroku
  - domains
  - websites
---

I recently rewrote the [Montreal Dribbble Meetup website][meetup site] using Sinatra. The previous version was simply static HTML and CSS files, so hosting and using a custom domain name was easy.

Since I moved to something dynamic (for various reasons), I decided to host the website on [Heroku][heroku] for simplicity reasons. Pushing something to [Heroku][heroku] is beautifully simple, but unfortunately looking at the [Heroku][heroku] documentation, I discovered that [Hover][hover], where I had my domain name doesn't support setting a `CNAME` for root domains. Bummer.

<figure>
  <blockquote class="twitter-tweet" lang="en">
    <p lang="en" dir="ltr">Hover is great at everything except to use with Heroku. What are the cool kids using for custom domain names these days?</p>&mdash; Kevin Clark (@vernalkick) <a href="https://twitter.com/vernalkick/status/618216773037461505">July 7, 2015</a>
  </blockquote>

  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

  <figcaption>Asking around on Twitter, there didn't seem to be any consensus on what to use.</figcaption>
</figure>

Fortunately, [Heroku][heroku] provides a list of DNS services that support that feature. Looking at the list, the only two names that rang a bell were DNS Simple and [CloudFlare][cloudflare]. DNS Simple's pricing structure seems uh... anything but simple. So I went with [CloudFlare][cloudflare]. For my needs, the free [CloudFlare][cloudflare] plan was more than enough.

<%= figure 'http://cl.ly/image/052j1V2a1D3v/1' %>

The setup process is surprisingly pretty seamless. You enter your domain name and they import your existing DNS records and tell you exactly what to replace in order to switch over to [Cloudflare][cloudflare]. Kudos for the amazingly simple onboarding experience.

Once that was done, all I had to do was add a `CNAME` record with my domain name ([mtldribbblemeetup.com][meetup site]) pointing to the [Heroku][heroku] URL ([mtldribbblemeetup.herokuapp.com][meetup site]). Done!

The whole process took roughly 10 minutes and the site was already accessible at the custom domain name. Couldn't recommend [Cloudflare][cloudflare] enough as a DNS provider for sites hosted on Heroku.

[meetup site]: http://mtldribbblemeetup.com
[cloudflare]: https://www.cloudflare.com
[hover]: https://www.hover.com
[heroku]: http://heroku.com
