---
title: "#BringYourLayers"
date: 2015-06-15 22:13 EDT
tags:
---

<%= figure '/assets/images/articles/bringyourlayers/susan-kare.jpeg', 'Image &copy; <a href="https://twitter.com/bringyourlayers/status/608325342378512386">@bringyourlayers</a>' %>

If you’ve been paying even just a tiny bit of attention to my online life for the past few days, you’re probably more than aware that I was in San Francisco to attend the amazing Layers conference put on by [Jessie Char][jessie] and [Elaine Pow][elaine] during [WWDC][wwdc].

It probably goes without saying, but it was so much fun.

- [Susan Kare][susan] reminded everyone that the most talented people can also be the most humble and that was seriously refreshing. Just the fact that I was in the same room as that woman totally made my week.
- I loved [Clarko][clarko]'s philosophy on design: make your users feel awesome by creating tools that give them superpowers.
- [Arik Devens][arik] totally transmitted his passion for the [Criterion Collection](http://www.criterion.com) to me. You just have to admire a company that puts so much care in every little detail.
- [Souroush Khanlou][khanlou]’s talk about how we should all be more like Kanye West was probably my favorite. Who doesn’t like Kanye West?
- [May-Li Khoe][mayli]’s approach to designing products really resonated with me. Iteration is the key to bringing the best ideas forward.
- I still have [Jonathan Mann][mann]’s [two](https://www.youtube.com/watch?v=B-lLA77JHyU) [songs](https://www.youtube.com/watch?v=n-iHwG4J6fY) stuck in my head. Conference troubadours are awesome!
- [Netta Marshall][netta]’s talk about Synesthesia (from [Wikipedia](https://en.wikipedia.org/wiki/Synesthesia): "stimulation of one sensory pathway leads to automatic, involuntary experiences in a second sensory pathway") was absolutely mind-blowing. I now have so many questions about this phenomenon. And what’s a more incredible way to finish your talk than confetti?
- [Neven Mrgan][neven] reminded us of the value in combining two things you normally wouldn’t mix together to produce unexpected results. Everything might be a remix, but why not use different songs?
- [Jaimee Newberry][jaimee]’s positivity and enthusiasm is contagious. Her talk made me want to challenge myself creatively and reminded me how rewarding it can be to just do the things you’ve been putting off for a long time.
- [Ashley Neslon-Hornstein][ashley] gave a great talk about what makes us love technology. It’s not about tech-specs or battery life, it’s all about how it makes us better humans.
- The Emoji chamber was strange at first, but turned out to be a lot of fun! A bit like Emojis in general. `:Smiley face with smiling eyes:`
- [Laura Savino](https://twitter.com/savinola) did something pretty risky: tell people to use their phones while listening to her talk. Her walkthrough of the accessibility features of iOS turned out to be a huge success, and was a real eye-opener for a lot of people.

Apart from the conference itself, I had the chance to visit the beautiful city and got to meet so many awesome people. I’m incredibly thankful for [Jessie][jessie]’s and [Elaine][elaine]’s work on their first conference and I definitely look forward to seeing everybody next year!

[wwdc]: https://www.youtube.com/watch?v=_p8AsQhaVKI
[jessie]: https://twitter.com/jessiechar
[elaine]: https://twitter.com/epow17
[susan]: https://twitter.com/SusanKare
[clarko]: https://twitter.com/Clarko
[arik]: https://twitter.com/danieltiger
[khanlou]: https://twitter.com/khanlou
[mayli]: https://twitter.com/mayli
[mann]: https://twitter.com/songadaymann
[netta]: https://twitter.com/nettatheninja
[neven]: https://twitter.com/mrgan
[jaimee]: https://twitter.com/jaimeejaimee
[ashley]: https://twitter.com/ashleynh
