#footer {
	background-color: #f5f7f7;
	text-align: center;
	padding: 3em 0;
	h2 {
		//color: $accent;
		margin-top: .5em;
		margin-bottom: .5em;
		a { font-weight: normal; }
	}
	p {
		font-size: 1.25em;
		font-weight: 300;
		color: #768b94;
		margin: 0 auto;
		max-width: 28em;
		line-height: 1.2em;
	}
	br {
		display: none;
	}
	.btn {
		margin-top: 2em;
		font-size: .875em;
	}
}

@include mq(medium) {
	#footer {
		padding: 3em 0;
		h2 {
			font-size: 1.65em;
		}
		p {
			font-size: 1.4375em;
		}
		br {
			display: block;
		}
		.btn {
			margin-top: 3em;
			font-size: 1em;
		}
	}
} // End of medium

@include mq(large) {
	#footer {
		padding: 4em 0;
	}
} // End of large