/* - 02. Footer ------------------------------------------------------------------------ */

footer[role="contentinfo"] {
	background: #fafafa url('../../images/logos/backdrop.png') no-repeat center center;
	@include supported(svg) { background: rgba(0,0,0,.02) url('../../images/logos/backdrop.svg') no-repeat center center; }
	border-top: 1px solid #e5e5e5;
	padding: 2em 0;
}

	#tagline span {
		display: block;
		margin-bottom: .5em; margin-top: .25em;
		color: #888; font-size: .875em; text-transform: uppercase; letter-spacing: .1em;
	}

	#copyright p {
		@include color(#a6a6a6, #000, .35); font-size: .875em; line-height: 1.5em;
		margin-top: .5em; margin-bottom: 0;
		a { color: #888; text-decoration: none; }
		a:hover { color: $accent; }
	}

	#social {
		@include clearfix();
		margin-top: 1em; margin-bottom: 0;
	}

		#social li {
			float: left;
			margin: 0; margin-right: .5em; margin-bottom: 0;
			list-style-type: none;
			display: block;
		}

		#social a {
			font-weight: bold; font-size: 1.35em; @include color(#bfbfbf, #000, .2);
			display: block;

			&:hover { color: $accent; @include animation(twist .3s ease-in-out); }
			&[href*="twitter"]:hover { color: #00acee; }
			&[href*="dribbble"]:hover { color: #ea4c89; }
			&[href*="rss"]:hover { color: #ee802f; }
			&[href*="instagram"]:hover { color: #3f729b; }
		}



@include mq(medium) {

	footer[role="contentinfo"] {
		padding: 3.75em 0 3em;
	}

	#tagline {
		float: left;
		span { margin-bottom: 0; }
	}

	#social {
		margin-top: 0;
	}

		#social li {
			float: right;
			margin-right: 0;
			margin-left: .5em;
		}

	#copyright {
		float: right;
	}

		#copyright br { display: none; }
		#copyright p { margin-top: .75em; }

}