/* - Header ---------------------------------------------------------------------------- */

header[role='banner'] {
	padding: 2rem 0;
}

	header[role='banner'] .wrap {
		position: relative;
	}

	header[role='banner'] .logo {
		float: left;
	}


/* Navigation */

nav[role='navigation'] {
	display: none;
	clear: both;
	margin-left: -9.5%;
	width: 119%;
	.js & { clip: rect(0 0 0 0); max-height: 0; position: absolute; display: block; overflow: hidden; zoom: 1; position: relative !important; -webkit-transition: max-height 400ms; transition: max-height 400ms; }
	&.opened {max-height: 9999px; }
}

	nav[role='navigation'] ul {
		margin: 0; padding: 0; padding-top: 2em;
		display: block; width: 100%;
		list-style: none;
		border-bottom: 1px solid #e5e5e5;
		@include clearfix;
	}

		nav[role='navigation'] li {
			display: block; width: 100%;
			background-color: #fafafa;
			margin: 0;
			&.current a { font-weight: 500; color: $subtext-accent; }
			&:last-child a {padding-right: 0; }
		}

		nav[role='navigation'] a {
			display: block;
			border-left: 1px solid transparent; border-top: 1px solid #e5e5e5;
			color: $subtext; font-weight: 400;
			padding: 1em 8%;
			&:hover { color: $accent; }
		}

#nav-toggle {
	@include icon; font-size: 1.125em; color: #ccc;
	position: absolute; top: .2em; right: 0;
}


/* Media-Queries */

@include mq(small) { // Media Query: SMALL

	header[role='banner'] {
		padding: 3.25rem 0;
	}

	nav[role='navigation'] {
		margin-left: 0;
		width: auto;
		display: block;
		float: right;
		margin-top: -5.25rem;

		ul {
			background-color: transparent;
			border: none;
			width: auto;
			margin: 0;
			padding-top: 0;
		}

		li {
			float: left;
			display: block;
			width: auto !important;
			background-color: transparent;
			&:first-child { display: none !important; }
		}

		li a {
			border: none;
			border-left: 1px solid #e5e5e5;
			padding: 4rem 2.5rem .25rem 1rem;
			line-height: 1em;
			display: block;
		}

		li.current a {
			border-color: #ccc;
			font-weight: 500;
			color: $subtext-accent;
		}
	}

} // End small


@include mq(medium) { // Media Query: MEDIUM

	header[role='banner'] {
		padding: 5.25rem 0;
	}

	nav[role='navigation'] {
		margin-top: -7.25em;

		li {
			font-size: 1em;
			&:first-child { display: block !important; }
		}

		li a {
			padding: 5.25rem 2.5rem .125rem 1rem;
			line-height: 1.5em;
		}
	}

} // End medium

@include mq(large) {
	header[role='banner'] {
		padding-bottom: 3rem;
	}
}

@include mq(xlarge) {
	header[role='banner'] {
		padding-bottom: 5.25rem;
	}
}