/* - Logo ------------------------------------------------------------------------------ */

.logo {
	color: #333;
	font-family: $tungsten; font-size: 2.5em; font-weight: 600; text-transform: uppercase; line-height: .8em;
	display: block;
}