/*
========================================================================================

RESET

======================================================================================== */

/* Remove unwanted margins */

body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, dl, dd, ol,
ul, form, fieldset, legend, table, th, td, caption, hr {
    margin:0;
    padding:0;
}

/* Add a help cursor to the elements who need it */

abbr[title], dfn[title] {
    cursor:help;
}

/* Remove underlines from potentially troublesome elements. */

u, ins {
    text-decoration:none;
}

/* Give form elements a proper cursor. */

label, input, textarea, button, select, option{
    cursor:pointer;
}

textarea:active, textarea:focus,
.text-input:active, .text-input:focus {
    cursor:text;
    outline:none;
}

/* Style figures so that they take the full width */

figure {
	margin: 0;

	img {
		width: 100%;
	}

	figcaption {
		color: $subtext;
		font-size: .875em;
		line-height: 1.5em;
	}
}

/* Flexible images */

img {
	display: block;
	font-style:italic;
	@include max-width(100%);
	a & { border: none; }
}

/* Flexible video & flash content */

embed, video, audio {
	@include max-width(100%);
}