// Colors

$accent: #1990C6;
$accent-darker: darken($accent, 15%);


// Typefaces

$font: "Ratio", "Helvetica Neue", sans-serif;


// Border radius

$default-border-radius: 4px;

$border-color: #EDECEC;
