// =============================================================================
// LAYOUT
// =============================================================================

html {
  height: 100%;
}

body {
  border-left: 5px solid $color--accent;
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  @include media($media-query--tablet-up) {
    border-width: 10px;
  }
}

// WRAP
// -----------------------------------------------------------------------------

.wrap {
  padding: 0 1.5rem;
  margin: 0 auto;

  @include media($media-query--tablet-up) {
    padding: 0;
    width: 70%;
    max-width: 600px;
  }

  @include media($media-query--desktop) {
    width: 80%;
    max-width: 1200px;
  }
}


// MAIN
// -----------------------------------------------------------------------------

.page-main {
  flex: 1;
}
