// =============================================================================
// ANIMATIONS & TRANSITIONS
// =============================================================================

// VARIABLES
// -----------------------------------------------------------------------------

$easing--spring: cubic-bezier(.3, 0, 0, 1);

$duration: 0.2s;
$duration--slow: 0.3s;
$duration--slowest: 0.5s;

// KEYFRAME ANIMATIONS
// -----------------------------------------------------------------------------
