body {
  font-family: $font;
  color: #333;
  -webkit-text-size-adjust: none;
}


// Headings

h1 {
  color: #333;
  font-size: 1.75em;
  margin: 0;
  font-weight: 400;
  line-height: 1.2em;
}

h2 {
  font-size: 1.25em;
  color: #999;
  font-weight: 300;
  margin: 0;
  line-height: 1.4em;
}

h3 {
  font-size: 1.125em;
  color: #333;
  font-weight: 500;
  margin: 2.5em 0 1em;
}


// Paragraphs

p {
  color: #555;
  font-size: 1.0625em;
  line-height: 1.65em;
  margin: 0;
  margin-bottom: 2em;
}

// List

ol, ul {
  padding: 0 0 0 2em;
  margin: 1.5em 0 0;
}

ol {
  list-style-type: decimal;
}

ul {
  list-style-type: disc;
}

li {
  color: #555;
  font-size: 1.0625em;
  line-height: 1.65em;
  margin-bottom: 1.5em;
    p {
      font-size: 1em;
    }
}

// Blockquote

blockquote {
  border-left: 3px solid $accent;
  margin: 1.5em 0;
  margin-left: -1.5em;
  padding-left: 1.325em;
  box-sizing: border-box;
    p {
      color: #777;
    }
}

// Code

code {
  color: #46A800;
  font-family: Menlo, Monaco, Andale Mono, Courier New, monospace;
  font-size: .875em;
}

pre {
  padding: 2em 0;
  margin: 2em 0;
  margin-left: -100%;
  padding-left: 100%;
  margin-right: -100%;
  padding-right: 100%;
  background-color: rgba(#46A800, .02);
  line-height: 1.4em;
}

hr {
  width: 3em;
  height: 2px;
  background-color: $border-color;
  margin: 2em 0;
  display: block;
  border: none;
}

// Footnotes

.footnotes {
  &:before {
    content: "";
    display: none;
    width: 4em;
    height: 2px;
    background-color: $border-color;
    margin-top: 2.5em;
  }
  ol {
    margin: 2.5em  0 1.5em;
    padding-left: 1.5em;
  }
  li {
    color: #999;
    font-size: .875em;
    margin-bottom: 0;
  }
  li + li {
    margin-top: .5em;
  }
  p {
    color: #999;
  }
}

// 600px --------------------------------------------------

@include media-from(600px) {

  h1 {
    font-size: 2em;
    line-height: 1.4em;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.5em;
    font-weight: normal;
  }

  p {
    font-size: 1.125em;
    line-height: 1.7em;
  }

  ol, ul {
    li {
      font-size: 1.125em;
    }
  }

  blockquote {
    margin-left: 0;
    padding-left: 2em;
    padding-right: 2em;
    border-width: 2px;
  }

  hr {
    width: 5em;
    margin: 3em 0;
  }

  pre {
    white-space: pre-wrap;
    @include padding-v(2em);
    -webkit-overflow-scrolling: touch;
  }

}