---
layout: default
---

<div class="wrap">
	<h1>Library</h1>
	<ul id="library-lst">
	{% for book in site.library %}
	  <li>
	  	<a href="{{ book.link }}">
	  		<figure class="cover">
	  			<img src="{% if book.cover %}{{ book.cover }}{% else %}/assets/library/{{ book.title | downcase | handleize | replace: ' ', '-' | replace: ':', '' }}.jpg{% endif %}" alt="Book cover for {{ book.title }}">
	  		</figure>
	  		<h3>{{ book.title }}</h3>
	  		<p>by {{ book.author }}</p>
	    </a>
	  </li>
	{% endfor %}
	</ul>
</div>