	</main>

	<footer role="contentinfo">
		<div class="wrap">
			<div id="tagline">
				<a href="/" class="logo">Kevin Clark</a>
				<span>Pixels, Shapes &amp; words</span>
			</div>
			<div id="copyright">
				<ul id="social">
					<li><a href="http://twitter.com/vernalkick" class="ss-icon ss-social">Twitter</a></li>
					<li><a href="http://dribbble.com/vernalkick" class="ss-icon ss-social">Dribbble</a></li>
					<li><a href="/rss/" class="ss-icon ss-social">RSS</a></li>
					<li><a href="http://instagram.com/vernalkick" class="ss-icon ss-social">Instagram</a></li>
					<li><a href="mailto:kevin@kevinclark.ca" class="ss-icon ss-social">Email</a></li>
				</ul>
				<p><a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Copyright</a> © 2010–2013 <a href="/">Kevin Clark</a>. <br>Hosted by <a href="http://sales.fliphost.net/aff.php?aff=036">FlipHost</a>.</p>
			</div>
		</div>
	</footer>

	{% include scripts.html %}

    </body>
</html>