<nav role="navigation" id="nav">
  <ul>
    {% for link in site.navigation %}
        {% assign current = nil %}
        {% assign page-url = page.url | remove:'index.html' %}
        {% if page-url == '/' %}
		      <li{% if page-url == link.url %} class="current" {% endif %}>
        {% else %}
          {% if link.url == '/' %}
            <li{% if page-url == link.url %} class="current" {% endif %}>
          {% else %}
            <li{% if page-url contains link.url %} class="current" {% endif %}>
          {% endif %}
        {% endif %}
		        <a href="{{ link.url }}">{{ link.text }}</a>
		      </li>
    {% endfor %}
  </ul>
</nav>