<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
<script src="/assets/javascript/modernizr.js"></script>
<script src="/assets/javascript/responsive-nav.js"></script>
<script type="text/javascript">
  var navigation = responsiveNav("#nav", { // Selector: The ID of the wrapper
    animate: true, // Boolean: Use CSS3 transitions, true or false
    transition: 400, // Integer: Speed of the transition, in milliseconds
    label: "Menu", // String: Label for the navigation toggle
    insert: "before", // String: Insert the toggle before or after the navigation
    customToggle: "", // Selector: Specify the ID of a custom toggle
    openPos: "relative", // String: Position of the opened nav, relative or static
    jsClass: "js", // String: 'JS enabled' class which is added to <html> el
    init: function(){}, // Function: Init callback
    open: function(){}, // Function: Open callback
    close: function(){} // Function: Close callback
  });
</script>
{% if page.title == "Home" %}
<script src="/assets/javascript/jquery.typer.js"></script>
<script type="text/javascript">
  $(function(){
    $('[data-typer-targets]').typer();
  });
</script>
{% endif %}