// Browser detection

$is-ie: false;


// Color

$accent: #1990c6;
$title: #333;
$text: #555;
$subtext: #999;
$subtext-accent: #777;

// Typography

$base-font: sans-serif;
$ratio: 'Ratio', $base-font;
$tungsten: 'Tungsten A', 'Tungsten B', 'Tungsten', $base-font;

// Breakpoints

$breakpoints: 'xsmall' 400px, 'small' 600px, 'medium' 800px, 'large' 1000px, 'xlarge' 1200px;