header[role="banner"] {
  padding-top: 2.5em;
  padding-bottom: 2em;
  @include clearfix;
}

.logo {
  background: url("/assets/logo.svg") no-repeat top center;
  width: 138px;
  height: 30px;
  display: block;
  @include hide-text;
  float: left;
}

nav[role="navigation"] {
  display: none;
}

// 600px --------------------------------------------------

@include media-from(600px) {

  header[role="banner"] {
    padding-top: 6em;
    padding-bottom: 4.5em;
  }

}

// 600px --------------------------------------------------

@include media-from(900px) {

  header[role="banner"] {
    padding-top: 6em;
    padding-bottom: 7.5em;
  }

  nav[role="navigation"] {
    display: block;
    float: right;
      ul {
        list-style-type: none;
        margin: 0; padding: 0;
      }
      li {
        margin: 0;
        float: left;
          a {
            color: #999;
            border-left: 1px solid #e5e5e5;
            padding: 6.5em 2em .5em .75em;
            font-size: .888888889em;
              &:hover {
                color: $accent;
                border-color: #ccc;
              }
          }
          &:last-child a {
            padding-right: 0;
          }
      }
  }

}

// 600px --------------------------------------------------

@include media-from(1100px) {

  header[role="banner"] {
    padding-top: 7.5em;
    padding-bottom: 7.5em;
  }

  nav[role="navigation"] li a {
    padding-left: 1em;
    padding-right: 3.75em;
    padding-top: 8em;
  }

}