body {
  min-height: 100%;
  border-top: 4px solid $accent;
  transition: -webkit-transform .3s ease-in-out;
}

// Wrap

.wrap {
  margin: 0 1.5em;
}

// Main

main {
  overflow: hidden;
  padding-bottom: 3.5em;
}

// 600px --------------------------------------------------

@include media-from(600px) {

  body {
    border-top: none;
    border-left: 10px solid $accent;
  }

  .wrap {
    margin: 0 auto;
    width: 80%;
    max-width: 36em;
  }

  main {
    padding-bottom: 5em;
  }

}

// 800px --------------------------------------------------

@include media-from(900px) {

  .wrap {
    margin: 0 auto;
    width: 80%;
    max-width: 50em;
  }

  main {
    padding-bottom: 5em;
  }

}


// 1100px --------------------------------------------------

@include media-from(1100px) {

  .wrap {
    max-width: 75em;
  }

  main {
    padding-bottom: 7em;
  }

}