<footer class="footer">
  <div class="wrap">
    <p>
      Copyright © <%= DateTime.now.strftime "%Y" %> <a href="/">Kevin Clark</a>. All rights reserved.
      Powered by <a href="http://jekyllrb.com/">Jekyll</a> and hosted by <a href="http://fliphost.net/">FlipHost</a>. The code is on <a href="https://github.com/">Github</a>.<br/>
      If you’d like to keep up with new content, you should subscribe to my <a href="/feed.xml">RSS feed</a>.
    </p>
    <div class="social-links">
      <a href="https://twitter.com/vernalkick" class="social-link social-link--twitter">Twitter</a>
      <a href="http://dribbble.com/vernalkick" class="social-link social-link--dribbble">Dribbble</a>
    </div>
  </div>
</footer>
