<header role="banner">
  <div class="wrap">
    <a href="/" class="logo">Kevin Clark</a>
    <a href="#" class="open-nav">Menu</a>
    <nav role="navigation">
      <a href="#" class="close-nav">Close</a>
      <ul>
        <li><%= navigation_link "Home", "/" %></li>
        <li><%= navigation_link "Articles", "/articles" %></li>
        <li><%= navigation_link "Portfolio", "/portfolio" %></li>
        <li><%= navigation_link "About", "/about" %></li>
      </ul>
    </nav>
  </div>
</header>
