#about-aside {
  border-top: 1px solid #e5e5e5;
  padding-top: 1em;
  padding-bottom: 1em;
  ul {
    padding: 0; margin: 0;
    list-style-type: none;
    li {
      margin: 0; padding: 0;
    }
  }
  > ul > li {
    padding: 1em 0;
    position: relative;
  }
  > ul > li + li:before {
    content: "";
    display: block;
    width: 2em; height: 1px;
    background-color: #e5e5e5;
    position: absolute; top: 0; left: 0;
  }
  p {
    font-size: .875em;
    color: #999;
    line-height: 1.6em;
    margin-bottom: 10px;
  }
  .elsewhere-links {
    font-family: "SSSocial";
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    white-space: nowrap;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    -o-font-feature-settings: "liga";
    font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
    font-size: 1.125em;
    li {
      float: left;
      margin-right: .5em;
      a { font-weight: bold; }
    }
  }
}
#about-bio {
  padding-bottom: .5em;
}

#profile-picture { display: none; }

@include mq(medium) {
  #about-aside {
    @include column(3);
    padding-top: 0;
    border: none;
    li:first-child {
      padding-top: 0;
    }
  }
  #about-bio {
    @include column(5, last, $side: right);
    padding-bottom: 2em;
  }
} // End of medium

@include mq(large) {
  #about .wrap > header {
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 34.75%;
  }
  #about-aside {
    @include column(4);
  }
  #about-bio {
    @include column(8, last, $side: right);
    padding-bottom: 3em;
  }
  #profile-picture {
    border-radius: 50%;
    position: absolute; top: 50%; right: 69%;
    margin-top: -190px;
    width: 380px;
    display: block;
  }
} // End of large

@include mq(xlarge) {
  #about .wrap > header {
    padding-left: 26%;
  }
  #about-aside {
    @include column(3);
  }
  #about-bio {
    @include column(9, last, $side: right);
    .half {
      @include column(4.5, $container:9);
      &:nth-child(2n+2) {
        margin-right: 0;
      }
    }
  }
  #profile-picture {
    right: 78%;
    width: 360px;
    margin-top: -180px;
  }
} // End of xlarge