/* - Article Indv ---------------------------------------------------------------------- */

#article-indv {
	padding-bottom: 0;
}

	/* Header */

	#article-indv-header {
		margin-bottom: 1.75em;
	}

	/* Body */

	#article-indv-body {

		// Paragraph

		& > p:first-child, & .lead { // Make the first paragraph slightly larger
			font-size: 1.25em; line-height: 1.6em;
			color: #333;
		}

		& > p:last-child:after { // End the paragraph with a closing glyph
			content: "¶";
			color: $accent;
			margin-left: .25em;
		}

		// Figure

		figure {
			margin: 0 0 1.75rem -9.5%;
			width: 119%;
		}

		figcaption {
			margin: 1.5rem 8% 0;
		}

		// Timestamp

		time {
			display: block;
			margin: 2.5em 0;
			color: #ccc;
		}

		// Up Next

		.up-next {
			float: left;
			list-style-type: none;
			margin: 1em 0 0 0;
			@include icon;
			@include clearfix;

			& + li { margin-left: .5em; }

			a {
				color: #ccc; font-size: 1.5em;
				&:hover { color: $subtext; }
				&:active { color: $accent; }
			}

			span {
				color: #e5e5e5; font-size: 1.5em;
			}
		}
	}


@include mq(small) {

	/* Header */

	#article-indv-header {
		margin-top: 1em;
		margin-bottom: 3.5em;
	}

	/* Body */

	#article-indv-body {
		font-size: 1.125em;

		// Figure

		figure {
			margin: 0 0 1.75rem -16.75%;
			width: 116.75%;
		}

		figcaption {
			margin: 1.75rem 0 0 14.25%;
		}

	}

} // End of small

@include mq(large) {

	#article-indv-header {
		position: relative;
		@include clearfix;

		h1 {
			@include column(9);
		}
	}

	#article-indv-body {
		@include column(9);
	}

} // End of large

@include mq(xlarge) {

	#article-indv {
		padding-bottom: 4em;
	}

	/* Header */

	#article-indv-header {
		position: relative;
		@include clearfix;

		h1 {
			@include column(6);
			@include push(left, 3);
		}
	}

	/* Body */

	#article-indv-body {
		font-size: 1em;
		@include column(6);
		@include push(left, 3);

		// Paragraph

		.note {
			width: 47%;
			&.left { float: left; margin: .25em -54% 0 2em; }
		}

		// Figure

		figure {
			margin-left: -54.25%;
			width: 208.5%;
			&.left { float: left; margin-left: -52%; width: 90%; margin-right: 5%; }
		}

		figcaption {
			margin: 2em 26%;
		}
	}

} // End of x-large