/* - Article list ---------------------------------------------------------------------- */

#intro-quote {}

	#intro-quote h1 {
		text-indent: -.40em;
	}

	#intro-quote p {
		margin-bottom: 0;
	}

	#intro-quote a {
		color: #777;
		margin-top: 1em;
		display: block;
	}

/* Lists */

.list {
	header {
		@include clearfix;

		h2 { float: left; margin-top: 0; }
		a { float: right; color: #999; }
	}
	li {
		padding: 0;
		margin: 0 0 1em 0;

		header a { float: none; color: $accent; }
	}
}

/* Latest articles archive */

#archives-latest-articles {

	li {
		margin: 0 0 3em 0;
	}

	img { margin: 1em 0; }
}

/* Link Archive */

#full-archive li {
	list-style-type: none;
	margin-left: 0;
}

	#full-archive li h3 {
		font-size: 1em;
		margin-bottom: 0;
		line-height: 1.25em;
		margin-bottom: .5em;
	}

	#full-archive li p {
		font-size: .875em;
		color: #999;
		line-height: 1.75em;
	}

/* Media Queries */

@include mq(small) {
	#full-archive li {
		@include column(4);
		&:nth-child(2n) { margin-right: 0; }
		&:nth-child(2n+1) { clear: left; }
	}

	// Latest articles

	#archives-full {
		li {
			@include column(4);
			&:nth-child(2n) { margin-right: 0; }
			&:nth-child(2n+1) { clear: left; }
		}
	}
}

@include mq(medium) {

	#intro-quote h1 {
		@include column(5);
		float: none;
	}

	// Latest articles

	#archives-full {
		li {
			@include column(2.666666667);
			&:nth-child(2n) { margin-right: 3%; }
			&:nth-child(2n+1) { clear: none; }
			&:nth-child(3n) { margin-right: 0; }
			&:nth-child(3n+1) { clear: left; }
		}
	}


}

@include mq(large) {

	.list {
		header {
			margin-bottom: 1.5em;
		}
	}

	#archives-latest-articles li {
		margin-bottom: 0;
		@include column(4);

		&:nth-child(3n) { margin-right: 0; }
	}

	#archives-latest-articles li, #archives-full li {
		@include column(4);

		&:nth-child(3n) { margin-right: 0; }
	}

	#archives-full li {
		&:nth-child(2n) { margin-right: 2%; }
		&:nth-child(3n) { margin-right: 0; }
	}

		#full-archive li h3 {
			font-size: 1.15em;
		}

	// Links

	#full-archive li {
		@include column(3);

		&:nth-child(2n) { margin-right: 3%; }
		&:nth-child(2n+1) { clear: none; }

		&:nth-child(4n) { margin-right: 0; }
		&:nth-child(4n+1) { clear: left; }
	}
}