/* - Article Indv ---------------------------------------------------------------------- */

#article-indv {
	padding-bottom: 0;
}

	/* Header */

	#article-indv-header {
		margin-bottom: 1.75em;
	}

	/* Body */

	#article-indv-body {

		// Paragraph

		& > p:first-child, & figure:first-child + p, & .lead { // Make the first paragraph slightly larger
			font-size: 1.125em; line-height: 1.6em;
			color: #333;
		}

		& > p:last-child:after { // End the paragraph with a closing glyph
			content: "¶";
			color: $accent;
			margin-left: .25em;
		}

		// Headings

		h3 {
			font-size: .875em;
			font-weight: 500;
			text-transform: uppercase;
			letter-spacing: .1em;
			margin-bottom: 1em;
			margin-top: 2.5em;
		}

		// Figure

		figure {
			margin: 0 0 1.75em 0;
			img {
				margin-left: -9.5%;
				width: 119%;
				max-width: none;
			}
			figcaption {
				margin: 1.5em 0 0 0;
			}
		}

		// Timestamp

		time {
			display: block;
			margin: -.5em 0 2.5em 0;
			color: #ccc;
			font-size: .875em;
		}

		// Up Next

		.up-next {
			float: left;
			list-style-type: none;
			margin: 1em 0 0 0;
			@include icon;
			@include clearfix;

			& + li { margin-left: .5em; }

			a {
				color: #ccc; font-size: 1.5em;
				&:hover { color: $subtext; }
				&:active { color: $accent; }
			}

			span {
				color: #e5e5e5; font-size: 1.5em;
			}
		}
	}


@include mq(small) {

	#article-indv {
		padding-bottom: 2em;
	}

	/* Header */

	#article-indv-header {
		margin-bottom: 2.5em;
	}

	/* Body */

	#article-indv-body {

		// Paragraph

		& > p:first-child, & figure:first-child + p, & .lead { // Make the first paragraph slightly larger
			font-size: 1.25em; line-height: 1.6em;
			color: #333;
		}

		// Figure

		figure {
			img {
				margin-left: -16.75%;
				width: 133.75%;
			}
		}

		// Time

		time {
			font-size: 1em;
			margin: 2.5em 0;
		}

	}

} // End of small

@include mq(medium) {

	#article-indv {
		@include column(6);
		@include push(left, 1);
	}

	/* Header */

	#article-indv-header {
		margin-bottom: 3.5em;
	}

	/* Body */

	#article-indv-body {
		figure {
			img {
				margin-left: -17.275%;
				width: 135%;
			}
		}
	}

} // End of medium

@include mq(large) {

	#article-indv {
		@include column(8);
		@include push(left, 2);
	}

	/* Header */

	#article-indv-header {
		position: relative;
		margin-top: 1em;
		@include clearfix;
	}

	/* Body */

	#article-indv-body {
		figure {
			img {
				margin-left: -26.5%;
				width: 153.25%;
			}
		}
	}

} // End of large

@include mq(xlarge) {

	#article-indv {
		padding-bottom: 4em;
		@include column(6);
		@include push(left, 3);
	}

	/* Header */

	#article-indv-header {
		position: relative;
		@include clearfix;
	}

	/* Body */

	#article-indv-body {
		font-size: 1em;

		// Paragraph

		.note {
			width: 47%;
			&.left { float: left; margin: .25em -54% 0 2em; }
		}

		// Figure

		figure {
			img {
				margin-left: -54.25%;
				width: 208.5%;
			}
			figcaption {
				margin-top: 2em;
			}
			&.peek-out img {
				margin-left: -27%;
				width: 154.25%;
			}
		}

	}

} // End of x-large