.article-post-lst {
	list-style-type: none;
	li {
		// border-top: 1px solid #e5e5e5;
		margin: 0; padding: 0;
		padding: 1.5em 0;
		header {
			h3 {
				font-size: 1em;
				line-height: 1.2em;
				margin-bottom: .5em;
			}
			a {
				//color: #57666d;
			}
		}
		.excerpt {
			font-size: .875em;
			line-height: 1.5em;
			p { color: #999; margin-bottom: 0; }
		}
		time {
			font-size: .875em;
			color: #ccc;
			margin-top: 1em;
			display: block;
		}
	}
}

@include mq(medium) {
	.article-post-lst {
		li {
			border: none;
			@include clearfix;
			padding: 0;
			margin-bottom: 1em;
			header {
				@include column(3);
				// border-top: 1px solid #e5e5e5;
				padding: 1.5em 0;
			}
			.excerpt {
				@include column(5, last);
				// border-top: 1px solid #e5e5e5;
				padding: 1.5em 0;
			}
			time {
				display: none;
			}
		}
	}
} // End of medium

@include mq(large) {
	.article-year-lst {
		h1 {
			margin-left: 26%;
		}
		> li + li {
			margin-top: 4em;
		}
	}
	.article-post-lst {
		li {
			position: relative;
			header {
				@include column(4);
				h3 {
					font-size: 1.5em;
					a { font-weight: normal; }
				}
			}
			.excerpt {
				@include column(8, last);
				p {
					@include column(6, $container:8);
				}
			}
			time {
				position: absolute;
				right: 0;
				top: .25em;
				display: block;
			}
		}
	}
} // End of large