/*
========================================================================================

BASE

----------------------------------------------------------------------------------------

Contents:

	01. General
	02. Viewport Fixes
	03. Wrapper

======================================================================================== */

/* - 01. General ----------------------------------------------------------------------- */

html {
	-webkit-text-size-adjust: 100%;
}

body {
	background-color: #fff;
	border: 4px solid $accent;

	@include mq(small) {
		border: 6px solid $accent;
	}

	@include mq(medium) {
		border: 8px solid $accent;
	}

	@include mq(large) {
		border: 10px solid $accent;
	}
}

/* - 02. Viewport Fixes ---------------------------------------------------------------- */

@-webkit-viewport { width: device-width; }
@-moz-viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }

/* - 03. Wrapper ----------------------------------------------------------------------- */

.wrap {
	margin: 0 auto;
	width: 84%;
	@include clearfix;
	@include max-width(1200px);
}

@include mq(small) {
	.wrap { width: 75%; }
 } // End of small

@include mq(large) {
	.wrap { width: 84%; }
}

main {
	display: block;
	overflow: hidden;
}

/* - Containers ------------------------------------------------------------------------ */

main > section:first-child {
	padding-top: 0;
}

section {
	padding: 2em 0;
}

section + section {
	border-top: 1px solid #e5e5e5;
}

section .wrap > :first-child {
	margin-top: 0;
}

section .wrap > header h2 {
	margin-top: 0;
	margin-bottom: 2em;
}

@include mq(medium) {

	section {
		padding: 4em 0;
	}

}

/* - Call to actions ------------------------------------------------------------------------ */

.call-to-action {
	text-align: center;
}

	.call-to-action h3 {
		margin-bottom: 1em;
	}

/* Media Queries */

@include mq(medium) {

	.call-to-action {
		text-align: center;
	}

		.call-to-action h3 {
			display: inline;
			margin-right: .75em;
		}

}