/* - Homepage -------------------------------------------------------------------------- */


/* Hello - Short bio */

#hello {
}

	#hello p {
		color: $subtext;
		margin-top: .5em;
		margin-bottom: 0;
	}

	#hello em {
		font-style: normal;
	}


/* Latest articles */

#latest-articles {

	header {
		@include clearfix;
		& > h2 {
			float: left;
		}
		& > a {
			float: right;
			color: #777;
		}
	}

	li {
		list-style-type: none;
		margin-left: 0; margin-bottom: 4em;
		@include transition(-webkit-transform .2s ease-in-out);

		&:hover  {
			-webkit-transform: scale(1.05);
		}

		header {
			width: auto;
			margin: 0; margin-bottom: 1em;
			float: none;
		}

		h3 {
			font-size: 1em; line-height: 1.2em;
		}

		p {
			font-size: .875em; color: $subtext; line-height: 1.75em;
		}
	}
}


/* Media Queries */


@include mq(small) { // Media-Query: SMALL

	#hello em {
		display: block;
	}

	#latest-articles li {

	}

} // End of small

@include mq(medium) {
	#latest-articles li {
		@include column(4);
		&:nth-child(2n+2) { margin-right: 0; }
	}

} // End of medium


@include mq(large) { // Media-Query: LARGE

	#hello {
		padding: 4em 0; padding-bottom: 8em;
	}

	#hello-inner {
		@include column(9, last);
	}

	#latest-articles header {
	}

		#latest-articles header h2 {
		}

	#latest-articles li,
	#latest-articles li:nth-child(2n+2) {
		@include column(3);
		margin-bottom: 0;
	}

	#latest-articles li:nth-child(4n+4) {
		margin-right: 0;
	}

} // End of large