#port-header {
  .wrap {
    position: relative;
  }
  p {
    font-size: 1.25em;
    font-weight: 300;
    color: #768B94;
    margin: 0;
    line-height: 1.2em;
    margin-bottom: 1em;
    -webkit-font-smoothing: subpixel-antialiased;
  }
  .btn {
    font-size: .875em;
    padding: .6em .75em;
  }
}

#port-featured-images {
  background-color: #f1f5f7;
  padding: 0;
  margin-top: 10%;
  margin-top: 2.5em;
  img {
    margin-top: -5%;
    margin-top: -1em;
  }
}

#port-main {
  section {
    overflow: hidden;
    h2 {
      font-size: 1.25em;
      font-weight: 500;
      color: darken(#768B94, 15%);
      margin-top: 0;
      margin-bottom: .5em;
    }
    h3 {
      font-size: 1em;
      font-weight: 400;
      color: #768B94;
      color: #999;
      margin: 0;
      line-height: 1.25em;
      margin-bottom: 0;
      font-size: 1.25em;
      font-weight: 300;
      color: #768B94;
    }
    .btn {
      margin-top: 1em;
    }
  }
  .grid-2 {
    .col + .col {
      margin-top: 1.5em;
    }
  }

  .list-3 {
    counter-reset:list;
    margin-top: 1.5em;
    li {
      list-style-type: none;
      margin: 0; padding: 0;
      & + li { margin-bottom: 1em; }
      &:before {
        counter-increment: list;
        content:counter(list) ".";
        color: $accent;
        font-size: 2.75em;
        font-weight: 300;
        margin-bottom: .5em;
        display: block;
      }
      h4 {
        text-transform: none;
        letter-spacing: normal;
        font-size: 1.125em;
        color: #57666d;
      }
      p {
        color: #768b94;
      }
    }
  }

}

@include mq(small) {
  #port-featured-images {
    margin-top: 3em;
    img { margin-top: -1.5em; }
  }

  #port-main {
    .list-3 {
      li {
        position: relative;
        padding-left: 4em;
        &:before {
          position: absolute; top: 0; left: 0;
        }
      }
    }
  }
} // End of small

@include mq(medium) {

  #port-header {
    p {
      font-size: 1.4375em;
    }
  }

  #port-main {
    section {
      padding: 4em 0;
      + section {
        border-top: 1px solid #e5e5e5;
      }
      h2 {
        font-size: 1.625em;
        font-weight: normal;
      }
      h3 {
        font-size: 1.4375em;
        font-weight: 300;
        color: #768b94;
        line-height: 1.3em;
        -webkit-font-smoothing: subpixel-antialiased;
      }
      .btn {
        margin-top: 1.5em;
      }
      .list-3 {
        @include clearfix;
        margin-bottom: 0;
        margin-top: 3em;
        li {
          margin-bottom: 0;
          padding: 1em 0;
          @include column(2.666666667);
          p { margin-bottom: 0; }
          &:last-child { margin-right: 0; }
          &:before {
            position: relative; top: auto; left: auto;
          }
        }
      }
    }
    .grid-1 {
      .col {
        @include column(6, last);
        margin: 0 auto;
        float: none;
        text-align: center;
      }
    }
    .grid-2 {
      display: -moz-box; display: -webkit-box; display: box;
      display: -webkit-flex; display: flex;
      .col {
        margin-top: auto!important; margin-bottom: auto!important;
        display: -moz-box; display: -webkit-box; display: box;
        -moz-box-orient: vertical; -webkit-box-orient: vertical; box-orient: vertical;
        -moz-box-pack: center; -webkit-box-pack: center; box-pack: center;
        float: left;
        @include column(4, last, $side: right);
        &:first-child { @include column(4); }
        & + .col { margin-top: 0; }
      }
    }
  }

} // End of medium

@include mq(large) {
  #port-featured-images {
    margin-top: 5.5em;
    img { margin-top: -2.5em; }
  }
  #port-header {
    p {
      margin-bottom: 0;
    }
    .heading {
      @include column(10, last);
    }
    .btn {
      font-size: 1em;
      padding: .75em 1em;
      position: absolute; right: 0; top: 50%;
      margin-top: -21px;
    }
  }
  #port-main {
    .col {
      &.tall {
        margin-bottom: -20% !important;
        margin-top: -2% !important;
      }
    }
  }
} // End of large

@include mq(xlarge) {
  #port-featured-images {
    margin-top: 6.5em;
    img { margin-top: -2.5em; }
  }
} // End of xlarge