---
layout: default
title: Portfolio
---

<div class="page" id="portfolio-lst">
  <div class="wrap">
    <header>
      <h1>{{ page.title | widont }}</h1>
      <h2>There’s so much more to design than just the actual pixels on a screen. Design is a process that strives to solve a problem when there’s no good solution. It’s taking thousands of discussions, user research, hundreds of sketches to craft a unique experience that not only works but that delights the user.</h2>
    </header>

    <section id="main">

    {% for category in site.portfolio_categories %}
      <div class="article-category">
        <h3>{{ category }}</h3>
        <ul>
          {% for project in site.pages %}
            {% if project.url contains '/portfolio' and project.url != '/portfolio/index.html' and project.category == category %}
              <li>
                <a href="{{ project.url }}">
                  {% if project.image %}
                  <img src="{{ project.image }}" />
                  {% else %}
                    <img src="/assets/portfolio/shopify-gift-cards/shopify-gift-cards.svg" alt="">
                  {% endif %}
                  <div class="desc">
                    <h4>{{ project.title }}</h4>
                    <p>{{ project.description }}</p>
                  </div>
                </a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    {% endfor %}

    </section>
  </div>
</div>

<footer id="footer" role="contentinfo">
  <div class="wrap">
    <p>Writing is hard at first, and hard at the end. <br>It’s painful, difficult, and scary and that’s what makes it awesome.</p>
    <a href="#" class="btn light">Follow me on Twitter</a>
  </div>
</footer>