/*
========================================================================================

CONTENT

----------------------------------------------------------------------------------------

Contents:

	- Article
	- Article List

======================================================================================== */

/* - Article List ---------------------------------------------------------------------- */

.article-lst {
	list-style-type: none;
}

.article-lst.secondary {
	li { margin: 0; }
	h3 { font-size: 1em; line-height: 1.2em; margin-bottom: .5em; }
	p { font-size: .875em; line-height: 1.5em; color: $subtext; }

	@include mq(xlarge) { font-size: .875em; }
}