/*
========================================================================================

MEDIA

----------------------------------------------------------------------------------------

Contents:

	01. Figures
	02. Images

======================================================================================== */

/* - 01. Figures ----------------------------------------------------------------------- */

figure {
	margin: 0 0 1.75rem -9.5%;
	width: 119%;

	img {
		width: 100%;
	}

	figcaption {
		color: $subtext;
		font-size: .875rem;
		line-height: 1.5rem;
		margin: 1.75rem 8% 0;
	}
}

/* - 02. Images ------------------------------------------------------------------------ */

img {
	display: block;
	@include max-width(100%);
	a & { border: none; }
}

/* - 03. Video ------------------------------------------------------------------------- */

embed, video, audio {
	@include max-width(100%);
}