.content aside {
  ul {
    list-style-type: none;
    margin: 0; padding: 0;
  }

  li {
    > a {
      font-size: .875em;
    }
  }

  p {
    font-size: .875em;
    color: #999;
    margin-bottom: 2.5em;

      & + a {
        margin-top: 1.5em;
        display: block;
      }
  }


}

@include media-from(600px) {
  .bleed-right img {
    width: 157% !important;
  }
}

@include media-from(900px) {
  /*.content aside {
    float: left;
    margin-left: -33.5%;
    width: 43%;
    margin-right: 6%;
  }*/

}

@include media-from(1100px) {

  .content aside {
    margin-left: -54.5%;
    width: 35%;
    float: left;
  }

  .bleed-right {
    margin: 4em 0 !important;
  }
  .bleed-right img {
    width: 205% !important;
  }

}
