.indv {

  header {
    margin-bottom: 1.5em;
    margin-top: 1em;

      small {
        color: #999;
        display: block;
        margin-bottom: .5em;
      }
  }

  .content figure img {
    margin-left: -9%;
    width: 118%;
    max-width: none;
  }

  time {
    color: #999;
    font-size: .875em;
    margin: 3em 0 0 0;
    display: block;
  }

}

// 600px --------------------------------------------------

@include media-from(600px) {

  .indv {

    header {
      margin-bottom: 2.5em;
    }

    .content figure {
      margin: 2em 0;
        &:first-child {
          margin-top: 0;
        }

        img {
          margin-left: -13%;
          width: 126%;
          max-width: none;
        }
    }
  }

}

// 900px --------------------------------------------------

@include media-from(900px) {

  .indv {
    padding-left: 25%;

      header {
        margin-bottom: 3.5em;
      }

      .content {
        figure:first-child {
          margin-top: 0;
        }

        figure {

         img {
            margin-left: -33.5%;
            width: 133.5%;
          }

        &.left {
          float: left;
          width: 74%;
          float: left;
          margin: .25em 2em 2em -33.25%;

            img {
              margin-left: 0;
              width: 100%;
            }
        }

      }
}
  }

}

// 1000px --------------------------------------------------

@include media-from(1100px) {

  .indv {
    padding-left: 30%;
    padding-right: 15%;

      .content figure {
        position: relative;

        img {
          margin-left: -54.5%;
          width: 154.5%;
        }

        figcaption {
          width: 30%;
          position: absolute;
          top: 0;
          right: -35%;
          margin-top: 0;
        }

        &.left {
          width: 100%;
          margin-left: -54.5%;
          figcaption {
            width: auto;
            position: relative;
            top: auto; right: auto;
            margin-top: 1.5em;
          }
        }
      }

  }

}