.list-page-header {
  padding-bottom: 0;
  padding-bottom: 2.5em;
    small {
      color: #999;
      display: block;
      margin-bottom: .5em;
    }
    h1 {
      margin-bottom: .5em;
        br { display: none; }
    }
}
.content-list {
  border-top: 1px solid $border-color;
  padding-right: 1.5em;
  margin-right: -1.5em;

  ul {
    list-style-type: none;
    margin: 0; padding: 0;
  }

  li {
    font-size: .875em;
    margin-top: 2em;
    margin-bottom: 0;
      &:first-child { margin: 0; }
  }

  h3 {
    font-weight: normal;
  }

  h4 {
    font-size: 1.15em;
    font-weight: 500;
    margin: 0 0 .5em 0;
  }

  p {
    color: #999;
  }

}

// 600px --------------------------------------------------

@include media-from(600px) {

    .list-page-header {
      padding-bottom: 4em;
        h1 br { display: block; }
    }

    .content-list {
      padding-right: 100%;
      margin-right: -100%;

        .group {
          margin-top: 4em;
        }

        h3 {
          margin-bottom: 2em;
          margin-top: 0;
        }

        ul {
          @include clearfix;
        }

        li {
          width: 45%;
          float: left;
          margin-top: 10%;
            & + li, &:first-child { margin-top: 10%; }
            &:nth-child(2n) { margin-left: 10%; }
            &:nth-child(2n+1) { clear: left; }
            &:nth-child(-1n+2) { margin-top: 0; }
        }

    }

}

// 900px --------------------------------------------------

@include media-from(900px) {

  .content-list {
    li {
      width: 30%;
      margin-top: 5%;
        & + li, &:first-child { margin-top: 5%; }
        &:nth-child(2n) { margin-left: auto; }
        &:nth-child(2n+1) { clear: none; }
        &:nth-child(3n), &:nth-child(3n+2) { margin-left: 5%; }
        &:nth-child(3n+1) { clear: left; }
        &:nth-child(-1n+3) { margin-top: 0; }
    }

  }

}

// 1100px --------------------------------------------------

@include media-from(1100px) {

  .list-page-header {
    padding-left: 25%;
  }

  .content-list {

    .group {
      margin-top: 5em;
      @include clearfix;
    }

      h3 {
        width: 21%;
        float: left;
        margin-top: 0;
        margin-right: 4%;
      }

      ul {
        width: 75%;
        float: left;
      }

  }
}