#home {

  .content-list.articles li:last-child {
    display: none;
  }
}

@include media-between(600px, 900px) {
  #home {
    .content-list.articles li:last-child {
      display: block;
    }
  }
}

@include media-from(1100px) {
  #home .content-list.articles {
    p { margin-bottom: 0; }
  }
}