---
layout: default
---

<div class="page" id="about">
	<div class="wrap">
		<header>
			<h1>{{ page.title | widont }}</h1>
			<h2>Our practice is multifaceted, which allows us to assist a wide spectrum of organizations synthesise, simplify and spread. Our projects span architectural organizations, governments, start-ups, non-profits, publishing companies, universities, museums, galleries and global brands.</h2>
		</header>
		<section id="main">
			<div id="about-bio">
				<div class="half">
					<h3>Modus Operandi</h3>
					<p>From the outside, the design process looks like a giant black box. Designers often don't want you to see into that box because they're afraid you're going to know they have no idea of how it's going to look like, or how it's going to work.</p>
					<p>To be a great designer you have to consider every possibility. And we might not know where we're going, but we know we'll get there. Every time I get there. You just have to let yourself the chance.</p>
					<h3>About this site</h3>
					<p>I'm my worst client and I can't stop changing my mind. This is my virtual playground and stuff may break from time to time, but it'll always be a tribute to who I am and where I stand.</p>
					<p>This site uses Ratio, served up by Typekit. It's hosted on a FlipHost VPS and is powered by Statamic.</p>
				</div>
				<div class="half">
					<h3>Ethos</h3>
					<p>Everything has been designed. From the computer screen your reading this on to your watch. We're humans, we make things. I believe design can make people's lives better. Design is a sign that people care. And that's just what the world needs.</p>
					<p>I may be trying to infer too much meaning into what is basically just pixels, but it never hurts to know that it's people all the way down, not users or eyeballs, real people like you and me.</p>
					<h3>Clients</h3>
					<p>This is where the big namedropping happens, right? All I'm going to say is that I only work with people (and companies) I believe in. It's about much more than money, it's about using my craft to leave the world a bit better.</p>
					<p>The best clients are the ones that don't feel like one. We work together to reach the same goals and delight people from engaging experiences.</p>
				</div>
			</div>
			<aside id="about-aside">
				<ul>
					<li>
						<h3>Contact</h3>
						<a href="">Say Hi</a>
					</li>
					<li>
						<h3>Interviews</h3>
						<ul>
							<li><a href="#">The Development</a></li>
						</ul>
					</li>
					<li>
						<h3>Elsewhere</h3>
						<ul class="elsewhere-links">
							<li><a href="#">Twitter</a></li>
							<li><a href="#">Facebook</a></li>
							<li><a href="#">Instagram</a></li>
							<li><a href="#">Dribbble</a></li>
						</ul>
					</li>
				</ul>
			</aside>
		</section>
	</div>
</div>