<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

  <!-- @reload -->

  <title>{{ page.title }}</title>
  <meta name="description" content="Project description">

  <!-- @stylesheet style -->
  <!-- @stylesheet ss-social -->
  <!-- @stylesheet kevinclarkicons-regular -->
  <!--[if lt IE 9]><!-- @stylesheet legacy --><![endif]-->

  <link rel="stylesheet" href="/assets/styles/css/style.css">

  <!-- Webfonts -->
  <script type="text/javascript" src="//use.typekit.net/rlh2chv.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <link rel="stylesheet" type="text/css" href="//cloud.typography.com/6558032/625582/css/fonts.css" />

  <link href="favicon.ico" rel="shortcut icon">
  <link href="apple-touch-icon.png" rel="apple-touch-icon">

</head>

<body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <a class="extra" href="/">home</a>
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                Your Name<br />
                What You Are<br />
                you@example.com
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/yourusername">github.com/yourusername</a><br />
                <a href="https://twitter.com/yourusername">twitter.com/yourusername</a><br />
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
