---
layout: default
---

<header id="port-header">
  <div class="wrap">
    <div class="heading">
      <h1>{{ page.title }}</h1>
      <p>{{ page.description }}</p>
    </div>
    <a href="{{ page.website }}" class="btn light">Visit website</a>
  </div>
</header>

<section id="port-featured-images">
  <div class="wrap">
    <div class="carousel" data-transition="fade" data-paginate>
      {% for image in page.featured-images %}
      <div>
        <img src="{{ image }}" alt="">
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<div id="port-main">
  <div class="wrap">
    {{ page.content }}
  </div>
</div>

<footer id="footer" role="contentinfo">
  <div class="wrap">
    <p>Writing is hard at first, and hard at the end. <br>It’s painful, difficult, and scary and that’s what makes it awesome.</p>
    <a href="#" class="btn light">Follow me on Twitter</a>
  </div>
</footer>
