---
layout: default
title: Portfolio
---

<div class="page" id="article-lst">
  <div class="wrap">
    <header>
      <h1>{{ page.title | widont }}</h1>
      <h2>There’s just something about writing ideas down that make you think differently. Communicating ideas effectively is also a big part of design. I need to get better at this, but here are a couple of things I’ve been thinking about lately.</h2>
    </header>
    <section id="main">
        {% for project in page.projects %}
          {% unless post.next %}
            <div class="article-category">
              <h3>{{ post.date | date: '%Y' }}</h1>
              <ul>
          {% else %}
            {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
            {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
            {% if year != nyear %}
                </ul>
              </div>
              <div class="article-category">
                <h3>{{ post.date | date: '%Y' }}</h3>
                <ul>
            {% endif %}
          {% endunless %}
          <li>
            <a href="/portfolio/{{ project[0] }}">
              {% if project[1].image %}
                          <img src="{{ project[1].image.url }}" title="{{ project[1].image.title }}" alt="{{ project[1].image.alt }}" />
                        {% endif %}

                        <p>{{ project[1].short }}</p>
            </a>
          </li>
        {% endfor %}
          </ul>
        </div>
    </section>
  </div>
</div>

<footer id="footer" role="contentinfo">
  <div class="wrap">
    <p>Writing is hard at first, and hard at the end. <br>It’s painful, difficult, and scary and that’s what makes it awesome.</p>
    <a href="#" class="btn light">Follow me on Twitter</a>
  </div>
</footer>


{% include navigation.html %}

<div class="span16">
  <h1>Our Portfolio</h1>

  <ul id="projects">
    {% for project in page.projects %}
      <li class="project span5">
        <a href="/portfolio/{{ project[0] }}">
          {% if project[1].image %}
            <img src="{{ project[1].image.url }}" title="{{ project[1].image.title }}" alt="{{ project[1].image.alt }}" />
          {% endif %}

          <p>{{ project[1].short }}</p>
        </a>
      </li>
    {% endfor %}
  </ul>
</div>