---
layout: default
---

<div class="wrap">
	<article id="article-indv">
		<header id="article-indv-header">
			<h1>{{ page.title | widont }}</h1>
		</header>
		<div id="article-indv-body">
			{{ content }}
			<time datetime="{{ page.date | date_to_xmlschema }}" pubdate>Published on {{ page.date | date: "%B %-d, %Y" }}</time>
		</div>
	</article>
</div>

<footer id="footer" role="contentinfo">
	<div class="wrap">
		<h2><a href="{{ page.previous.url }}">{{ page.previous.title }}</a></h2>
		<p>{{ page.previous.content | strip_html | truncatewords:20}}</p>
		<a href="{{ page.previous.url }}" class="btn light">Read now</a>
	</div>
</footer>