---
layout: default
---
<article id="indv">
	<div class="wrap">
		<header>
			<h1>{{ page.title | widont }}</h1>
		</header>
		<div id="article-body">
			{{ content }}
			<time datetime="{{ page.date | date_to_xmlschema }}" pubdate>{{ page.date | date_to_long_string }}</time>
		</div>

	</div>
</article>

<footer id="footer" role="contentinfo">
	<div class="wrap">
		<p>Writing is hard at first, and hard at the end. <br>It’s painful, difficult, and scary and that’s what makes it awesome.</p>
		<a href="#" class="btn light">Follow me on Twitter</a>
	</div>
</footer>