---
layout: default
title: Articles
---

<section id="article-archive">
	<div class="wrap">
		<ul class="article-year-lst">
		  {% for post in site.posts %}

		    {% unless post.next %}
		    <li>
		      <h1>{{ post.date | date: '%Y' }}</h1>
		     	<ul class="article-post-lst">
		    {% else %}
		      {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
		      {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
		      {% if year != nyear %}
		      	</ul>
		      </li>
		      <li>
		        <h1>{{ post.date | date: '%Y' }}</h1>
		        <ul class="article-post-lst">
		      {% endif %}
		    {% endunless %}


			    <li>
			    	<header>
			    		<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
			    	</header>
			    	<div class="excerpt">
			    		<p>{{ post.content | strip_html | truncatewords:30}}</p>
			    	</div>
			    	<time>{{ post.date | date: '%B %d' }}</time>
			    </li>

		  {% endfor %}
		  </ul>
		  </li>
		</ul>
	</div>
</section>