---
layout: default
title: Articles
---
<section id="latest-articles">
	<div class="wrap">
	<ul class="article-lst">
		{% for post in site.posts limit:4 %}
		<li>
			<article>
				<header>
					<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
					<time datetime="{{ post.date | date_to_xmlschema }}" pubdate><strong>Published</strong> {{ post.date | date_to_long_string }}</time>
				</header>
				<p>{{ post.excerpt }}</p>
				<a href="{{ post.url }}" class="btn">Continue</a>
			</article>
		</li>
		{% endfor %}
	</ul>
	</div>
</section>

<section id="full-archive">
	<div class="wrap">
		<header>
		    <h2>Full archive</h2>
		</header>
        <ul class="article-lst secondary">
			{% for post in site.posts offset:4 %}
			<li>
				<article>
					<header>
						<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
					</header>
					<p>{{ post.content | strip_html | truncatewords:30}}</p>
				</article>
			</li>
			{% endfor %}
		</ul>
	</div>
</section>