---
layout: default
title: Articles
---

<div class="page" id="article-lst">
	<div class="wrap">
		<header>
			<h1>{{ page.title | widont }}</h1>
			<h2>There’s just something about writing ideas down that make you think differently. Communicating ideas effectively is also a big part of design. I need to get better at this, but here are a couple of things I’ve been thinking about lately.</h2>
		</header>
		<section id="main">

				{% for category in site.categories %}
				<div class="article-category">
				<h3>{{ category | first | capitalize }}</h3>
				<ul>
					{% for posts in category %}
						{% for post in posts %}
						{% if post.title != undefined %}
							<li>
								<a href="{{ post.url }}">
									<h4>{{ post.title }}</h4>
									<p>{{ post.content | strip_html | truncatewords:30}}</p>
									<time>{{ post.date | date: '%B %d' }}</time>
								</a>
							</li>
						{% endif %}
						{% endfor %}
					{% endfor %}
				</ul>
				</div>
				{% endfor %}
				<div class="article-category">
					<h3>Other</h3>
					<ul>
						{% for post in site.posts %}
						{% if post.categories == empty %}
								<li>
									<a href="{{ post.url }}">
										<h4>{{ post.title }}</h4>
										<p>Categories are '{{ post.categories }}'</p>
										<p>{{ post.content | strip_html | truncatewords:30}}</p>
										<time>{{ post.date | date: '%B %d' }}</time>
									</a>
								</li>
							{% endif %}
						{% endfor %}
					</ul>
				</div>
		</section>
	</div>
</div>

<footer id="footer" role="contentinfo">
	<div class="wrap">
		<p>Writing is hard at first, and hard at the end. <br>It’s painful, difficult, and scary and that’s what makes it awesome.</p>
		<a href="#" class="btn light">Follow me on Twitter</a>
	</div>
</footer>