a {
  color: $accent;
  text-decoration: none;
  @include color-transition;
    &:hover {
      color: $accent-darker;
    }
}

.more {
  @include chevron;
}

.back {
  @include chevron(left);
}

.link, .btn.link, input[type="submit"].link {
  background-color: transparent;
  padding: 0;
  font-weight: normal;
  color: $accent;
  text-decoration: none;
  @include color-transition;
    &:hover {
      color: $accent-darker;
      background-color: transparent;
    }
}