body {
  font-family: $font;
  color: #333;
  -webkit-text-size-adjust: none;
}


// Headings

h1 {
  color: #333;
  font-size: 1.625em;
  margin: 0;
  font-weight: 400;
  line-height: 1.2em;
}

h2 {
  font-size: 1.25em;
  color: #999;
  font-weight: 300;
  margin: 0;
  line-height: 1.4em;
}

h3 {
  font-size: 1.25em;
  color: #333;
  font-weight: 500;
  margin: 2em 0 .75em;
}

h4 {
  font-weight: 500;
  margin: 4em 0 1.5em;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: .1em;
}

h5 {
  font-weight: 500;
  margin: 0;
  font-size: .875em;
}


// Paragraphs

p {
  color: #555;
  font-size: 17px;
  line-height: 1.65em;
  margin: 0;
  margin-bottom: 2em;
}

.lead {
  font-size: 1.25em;
  margin-bottom: 1.25em;
  color: #333;
}

// List

ol, ul {
  padding: 0 0 0 2em;
  margin: 1.5em 0 0;
}

ol {
  list-style-type: decimal;
}

ul {
  list-style-type: disc;
}

li {
  color: #555;
  font-size: 1.0625em;
  line-height: 1.65em;
  margin-bottom: 1.5em;
    p {
      font-size: 1em;
    }
}

// Blockquote

blockquote {
  margin: 1.5em 0;
  margin-left: 2em;

  p {
    color: #777;
    font-style: italic;
    font-size: .875em;

    &:first-child { text-indent: -0.4em; }
    &:first-child:before {content: "“"; }
    &:last-child:after {content: "”" }
  }

  li {
    color: #777;
    font-style: italic;
    font-size: .875em;
  }
}

// Code

code {
  font-family: Menlo, Monaco, Andale Mono, Courier New, monospace;
  background: #fafafa;
  padding: .3em .5em;
  font-size: .75em;
  border-radius: 4px;
  color: #999;
  background-color: #fafafa;
}

pre {
  padding: 2em 0;
  margin: 2em 0;
  margin-left: -100%;
  padding-left: 100%;
  margin-right: -100%;
  padding-right: 100%;
  background-color: #fafafa;
  line-height: 1.4em;
}

hr {
  width: 5em;
  height: 2px;
  background-color: $border-color;
  margin: 2em 0;
  display: block;
  border: none;
}

// Footnotes

.footnotes {
  &:before {
    content: "";
    width: 5em; height: 2px;
    background-color: $border-color;
    margin: 2em 0;
    display: block;
    border: none;
  }
  ol {
    margin: 2.5em 0 1.5em;
    padding-left: 1.5em;
  }
  li {
    color: #999;
    font-size: .875em;
    margin-bottom: 0;
  }
  li + li {
    margin-top: .5em;
  }
  p {
    color: #999;
  }
}

// 600px --------------------------------------------------

@include media-from(600px) {

  h1 {
    font-size: 2.25em;
    line-height: 1.4em;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.5em;
    font-weight: normal;
  }

  p {
    font-size: 20px;
    line-height: 1.7em;
  }

  .lead {
    font-size: 1.625em;
    line-height: 1.5em;
  }

  ol, ul {
    li {
      font-size: 1.25em;
    }
  }

  blockquote {
    margin-left: 0;
    padding-left: 4em;
    padding-right: 2em;
    border-width: 2px;
      p, li {
        font-size: 1.125em;
      }
  }

  hr {
    margin: 3em 0;
  }

  pre {
    white-space: pre-wrap;
    @include padding-v(2em);
    -webkit-overflow-scrolling: touch;
  }

  .footnotes {
    li {
      font-size: 1em;
    }
    &:before {
      margin: 3em 0;
    }
  }

}
